@font-face {
    font-family: fuente_titulo;
    src: url(sansation_light.woff);
  }

body{
  background-color: #c3ecea;
  font-family: verdana;
  border: 5px solid silver;
}
h1{
  text-align: center;
}
div{
  margin-left: 30px;
}

#caja1{
  border: 2px solid silver;
  padding: 4px;
  width: 1150px;
  position: relative;
  left: 30px;
}
#titulo1{
background-color: silver;
  color: white;
  width: 1159px;
  height: 25px;
  position: relative;
  bottom: 20px;
  right: 4px;
  
}
#parrafo1{
  position: relative;
  bottom: 20px;
}

#caja2{
  border: 1px solid silver;
  padding: 5px;
  width: 1159px;
  height: 850px;
  position: relative;
  left: 25px;
  top: 10px;
}
#titulo2{
  background-color: silver;
    color: white;
    width: 1170px;
    height: 25px;
    position: relative;
    bottom: 21px;
    right: 6px;
  }
  

#caja3, #caja4, #caja5{
  border: 1px solid #564a4a;
  padding: 4px;
  width: 1100px;
  padding: 5px;
  position: relative;
  margin-top: 10px;
  margin-left: 20px;
}
#caja3{
  background-color: silver;
}
#caja31{
  border: 1px solid #564a4a;
  padding: 4px;
  width: 1000px;
  height: 200px;
  padding: 5px;
  position: relative;
  margin-top: 10px;
  margin-left: 20px;
  background-color: aquamarine;
}
#gato1{
  float: left;
  border: 3px solid white;
  padding: 5px;
  height: 180px;
  width: 180px;
}

#gato2{
  float: right;
  border: 3px solid white;
  padding: 5px;
  height: 180px;
  width: 180px;
}

#caja4{
  background-color: silver;
  
  height: 230px;
}
#caja41{
  border: 1px solid #564a4a;
  width: 1000px;
  height: 130px;
  padding: 5px;
  position: relative;
  margin-top: 10px;
  margin-left: 20px;
  background-color: aquamarine;
  z-index: 1;
  
}

#gato3{
  float: left;
  position: relative;
  z-index: 3;
  border: 3px solid white;
  padding: 5px;
  height: 200px;
  width: 200px;
}

#caja5{
  background-color: silver;
}
#caja51{
  border: 1px solid #564a4a;
  padding: 4px;
  width: 1000px;
  height: 120px;
  padding: 5px;
  position: relative;
  margin-top: 10px;
  margin-left: 20px;
  background-color: aquamarine;
}

#gato4{
  float: right;
  position: relative;
  border: 3px solid white;
  padding: 5px;
}


#pfooter{
  margin-bottom: 10px;
  margin-top: 50px;
  font-style: italic;
  font-size: 2px;
}
